@model MVCTutorial.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="panel panel-body">

    <div class="col-md-9">
        <form id="myForm">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Login Here</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "EmailId" })
                    @Html.ValidationMessageFor(m => m.EmailId, "")
                    @Html.HiddenFor(m => m.SignatureId, new { id = "hat" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary " onclick="LoginUser()">Login</a>
                </div>
            </div>
        </form>        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fingerprintjs2@2.1.0/dist/fingerprint2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var hasConsole = typeof console !== "undefined"

    var fingerprintReport = function () {
        var d1 = new Date()
        Fingerprint2.get(function (components) {
            var murmur = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
            var d2 = new Date()
            var time = d2 - d1
            //document.querySelector("#time").textContent = time
            //document.querySelector("#fp").textContent = murmur
            $('#hat').val(murmur);

            var details = ""
            if (hasConsole) {
                //console.log("time", time)
                console.log("fingerprint hash", murmur)
            }
        })
    }

    var cancelId
    var cancelFunction

    // see usage note in the README
    if (window.requestIdleCallback) {
        cancelId = requestIdleCallback(fingerprintReport)
        cancelFunction = cancelIdleCallback
    } else {
        cancelId = setTimeout(fingerprintReport, 500)
        cancelFunction = clearTimeout
    }
    fingerprintReport()

</script>

<script>

    @*$(document).ready(function () {

        sessionStorage.setItem("OTP", '@Session["OTP"]')
    });*@

    var LoginUser = function () {
        debugger
        var data = $("#myForm").serialize();

        if (!$("#myForm").valid())
        {

            return false;
        }


        $.ajax({
            type: "Post",
            url: "/Test/LoginUser",
            data: data,
            success: function (response) {
                debugger
                if (response == "fail") {

                    window.location.href = "/Test/Login";
                }
                else if (response == "Admin") {

                    window.location.href = "/Test/Admin";
                }
                else if (response == "SuperAdmin") {

                    window.location.href = "/Test/SuperAdmin";
                }
                else if (response == "signaturefail") {
                    @*sessionStorage.setItem("OTP", '@Session["OTP"]')*@
                    var OTP = "@HttpContext.Current.Session["OTP"]";
                    OTPPop(OTP);
                    //window.location.href = "/Test/Login";
                }
                else {

                    window.location.href = "/Test/Index";
                }
            }

        })



    }


    function OTPPop(OTP) {
        debugger
        var OtpTxt;
        var otp = prompt("Please enter your OTP:", "4444");
        if (otp == null || otp == "") {
            OtpTxt = "User cancelled the prompt.";
        } else {
            OtpTxt = otp;
            //OtpTxt = "Your OTP " + otp + "!";

            //if (OTP == OtpTxt) {
            //    OtpTxt = "Your OTP " + otp + "!";

            //    document.getElementById("demo").innerHTML = OtpTxt;

            //} else {
            //    document.getElementById("demo").innerHTML = "Invalid Otp";
            //}

            $.ajax({
            type: "Post",
                url: "/Test/VerifyOTP",
            data: { OtpTxt },
            success: function (response) {
                debugger
                if (response == false) {

                    window.location.href = "/Test/Login";
                }
                else {

                    window.location.href = "/Test/Index";
                }
            }

        })
        }

        //$.ajax({
        //    type: "Post",
        //    url: "/Test/LoginUser",
        //    data: { OtpTxt },
        //    success: function (response) {
        //        debugger
        //        if (response == "fail") {

        //            window.location.href = "/Test/Login";
        //        }
        //        else {

        //            window.location.href = "/Test/Index";
        //        }
        //    }

        //})




    }

</script>

